.heading{
    color: rgb(220, 85, 85);
}
.description{
    color: white;
}
.button {
  background-color: white;
  border: 2px solid;
  border-radius: 15px;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  min-height: 80px;
  padding: 16px 24px;
  text-align: center;
  font-size:calc(20px + 1.5vw);
}
.button-selected {
    color: #fff;
    cursor: pointer;
    background-color: rgb(220, 85, 85);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    display: inline-block;
    line-height: normal;
    min-height: 80px;
    padding: 16px 24px;
    text-align: center;
    font-size:calc(20px + 1.5vw);
    border: 2px solid;
    border-radius: 15px;
}
.quiz-question{
    color: rgb(220, 85, 85);
}
.recommendation{
    color: white;
}