body {
    font-family: 'Nunito';
    font-size:calc(20px + 1.5vw);
    background-color: white;
    margin-left: 30px;
    max-width: 80%;
}
html {
    scroll-behavior: smooth;
}
h1 {
    font-size:calc(30px + 10vw);
}